<head th:fragment="headAdmin">

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!--     Meta     -->
    <meta http-equiv="content-language" content="es" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="author" content="Cluster Research" />
    <meta name="genre" content="Servicios" />
    <meta name="geo.placename" content="Colombia" />
    <meta name="geo.position" content="4.687771;-74.070650" />
    <meta name="geo.region" content="CO" />
    <meta name="google" content="notranslate" />
    <meta name="ICBM" content="4.687771, -74.070650" />
    <meta name="language" content="spanish" />
	<meta charset="UTF-8">
    <meta name="description" content="Metodología INLab">
    <meta name="keywords" content="Metodología INLab">

    <meta name="robots" content="index" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="INLAB RESEARCH" />
    <meta property="og:description" content="Metodología INLab" />
    <meta property="og:url" content="http://www.inlab.com.co/" />
    <meta property="og:site_name" content="INLAB RESEARCH" />
    <meta property="og:locale" content="es_CO" />
    <meta property="og:locale:alternate" content="es_CO" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

    <title>
        INLAB RESEARCH ADMINISTRADOR
    </title>
    
    
    
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!-- CSS Files -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/now-ui-dashboard-pro.min.css" rel="stylesheet" />
    <link href="/css/now-ui-kit.min.css" rel="stylesheet" />
    <link href="/css/preloader.css" rel="stylesheet" />
    <link href="/css/inlab.css" rel="stylesheet" />

    <!-- GALLERY Files -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />
    <link href="/css/gallery/compact-gallery.css" rel="stylesheet" />
    
    <!-- js Files -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/js/core/popper.min.js"></script>
    <script src="/js/core/bootstrap.min.js"></script>
    
    <script src="/js/admin.js"></script>
    
    <!-- <script src="http://pagination.js.org/dist/2.1.4/pagination.js"></script> -->
    <script src="/js/jquery.tabletoCSV.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.js"></script>
    
    <!-- color picker -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/3.2.0/css/bootstrap-colorpicker.min.css"
    rel="stylesheet">


</head>