/*!
inlab.css - fernmarr
Copyright (c) 2021 ClusterResearch
*/

.add-on {

    display: inline-block;
    width: auto;
    height: 20px;
    min-width: 16px;
    padding: 4px 5px;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
}

.add-on i {
    display: block;
    width: 16px;
    height: 16px;
}

.logo_emp{
	width: 70px;
	height: 40px;
}